.landing-nav .navbar .nav {
  float:none!important;
  text-align: center!important;
}

.landing-nav .navbar-nav >li{
  float:none;
  display: inline-block;
  padding:8px 14px 8px 14px;
}

.landing-nav .navbar-nav >li > a{
font-family:'Capriola',sans-serif;font-size:200%!important;color:#1B809E!important;
}

.rules .form-control{
  background-color: #ddd;
}

.table-striped>tbody>tr:nth-of-type(odd){
  background-color: rgba(255,255,255,.3);
}

.table-striped>tbody>tr:hover{background-color:rgba(255, 255, 255, 0.4);;}
.navbar-default{
  background-color:rgba(255, 255, 255, 0.4);
}

.padsize li {font-size:20px;padding:15px;}
.sidebox{color:black;border-radius:10px;text-shadow:1px 1px 0px #888;border: 3px solid #1B809E;text-align:center;background-color:rgba(255, 255, 255, 0.85);}
.fontincr li a{font-size: 18px;}
.container{box-shadow: 0px 0px 8px #000;padding:5px 50px 50px 50px;
/* background-color: #fff;
background:rgba(255,255,255,0.7) */
}

.container1{box-shadow: 0px 0px 8px #000;background-color:#212529;}
.navbar-right{margin-right: 5px}
.border-shadow{box-shadow: 0px 0px 8px #000}
.nav-justified {background-color: white}
.bodypad{
background: #1B809E; /* fallback for old browsers */
background-image: url("../img/wallpaper1.jpg")!important;
background-attachment: fixed;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-position: center;

  /*background-repeat: no-repeat!important;*/
  /*background-position: right top!important;*/
  /*background-attachment: fixed!important;*/
  /*background: -webkit-linear-gradient(to left, #1B809E , #5691c8);*/
  /*background: linear-gradient(to left, #1B809E , #5691c8);*/
  padding-top:0
}
.rules{border:5px solid #eee;border-radius: 5px;margin-bottom: 10px;background-color:rgba(255, 255, 255, 0.85)}
.rules2 {
  border: 5px solid #032d1c;
  border-radius: 31px;
  margin-bottom: 10px;
  background-color: rgba(216, 248, 199, 0.85);
}
.nav li  a:hover {
background-color: #ddd;
box-shadow:0px 3px 7px rgba(0, 0, 0, 0.15) inset;
background-image: none;
}
.nav li  a{color:#1B809E;}

 @media screen and (max-width: 750px) {
.container-fluid{
    padding-right: 10px;
}

.padleft{padding-left:10px;}
.bodypad{
  background-image: url("../img/technology.jpg")!important;
  background-repeat: no-repeat;
  }
}


 @media screen and (max-width: 750px){
.padleft{padding-left:10px!important;}


 }

.navbar-default .navbar-nav > li > a{
    color:#457fca;
    font-size: 20px;
}
@media screen and (max-width: 750px) {
.navbar-default .navbar-nav > li {
    font-weight: bold;
    margin-left: 20px;
}
}

.container-fluid{
    padding-right: 0
}

th,td{
    padding: 25px!important;
}
td{
    font-size: 17px;

}
.lboardh1{
    text-align:center;font-family:impact;font-size:45px;font-weight:bold; text-shadow:2px 2px #457FCA;
}

/* .footer {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
} */

.footer img {
    display: inline!important;
    margin-left: 0.5em;
    max-height: 8em;
    max-width: 80%;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
#particle {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:0; 
}
#overlay {
  position: relative;
}

.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float:left;
  margin:0 auto;
}
.swing:after{
  content: '';
  position: absolute;  
  width: 20px; height: 20px;  
  top: -10px; left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
  margin:0 auto;
}
/* nail */
.swing:before{
  content: '';
  position: absolute;
  width: 5px; height: 5px;
  top: -14px;left: 54%;
  z-index: 5;
  border-radius: 50% 50%;
  background: #000;
  
}

@keyframes swing {
  0% { transform: rotate(3deg); }
  100% { transform: rotate(-3deg); }
}

.container3{  margin: 0 auto;
  border-radius: 2px bold white;
  margin: 0 auto;
  border-radius: 2px bold white;
}

/* CSS for the tab based hint system */


.hint-list-item {
  width: 33%;
  margin: 0 auto;
  text-align: center;
}


.nav-tabs {
  border-bottom: none;
}

.panel-heading {
  padding: 0;
  background-color: transparent;
}


.hint-title {
  margin-right: 0px;
  margin-left: 0px;
  font-size: 2rem;
  background-color: #272e38;
  color: #fff;
  border: none;
}

.tab-content {
  text-align: center;
  line-height: 25px;
  border-top: 5px solid rgb(243, 102, 51);
  border-bottom: 5px solid rgb(243, 102, 51);
  /* padding: 30px 0; */
  padding: 15px 0 5px 0;
}

.with-nav-tabs {
  background-color: transparent;
  border: none;
}

.panel-body {
  padding: 0;
}


.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #fff;
}

/* On Hover or Focus */

.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #fff;
	background: rgb(243, 102, 51);
  border-color: transparent;
  transition: background 0.3s linear;
}

/* Active */
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #fff;
  background: rgb(243, 102, 51);
	/* background-color: #fff; */
	border-color: transparent;
  border-bottom-color: transparent;
}

li.active > a:after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 45%;
  border: 15px solid transparent;
  border-top-color: rgb(243, 102, 51);
}

/* CSS for the Questions */

.question {
  margin-left: -10px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: -20px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: left;
}

.answer-box {
  padding: 10px 0 10px 0;
  margin-bottom: 20px;
}

.user {
  color:#7fcae0;
  display: inline-block;
  margin-top: 5.5px;
}