  .oth_header  {
    font-weight: bolder;
    font-size: 45px;
  }
  
 .boxt {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 4.5rem;
  }
  .container_t {
    color: #333;
    margin: 0 auto;
    text-align: center;
  }

  .boxt{
      border: 2px black thick;
      font-size: 30px;
      color: #e5ff0d;
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      border-radius: 30px;
      width: 190px;
     
  }

  @media screen and (max-width:750px){
    .boxt{
        border: 2px black thick;
        font-size: 15px;
        color: rgb(8, 8, 8);
        width: 100px;
        margin: 5px;
    }
    .oth_header  {
        font-weight: bolder;
        font-size: 30px;
        color: #fff2b1;
      }

  }
  
  .timer{
      padding: 0px;

  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }