
{% extends 'base.html' %}

{%block content%}


<!-- Tab based hints -->

<div class="row">
  <div class="col">
    <div class="panel with-nav-tabs panel-default">
      <div class="panel-heading" style="background-color: transparent;">
        <ul class="nav nav-tabs">
          <li class="active hint-list-item"><a href="#image-hint" data-toggle="tab" class="hint-title"><i class="far fa-image"></i>&nbsp; Image</a></li>
          <li class="hint-list-item"><a href="#audio-hint" data-toggle="tab" class="hint-title"><i class="fas fa-music"></i>&nbsp;&nbsp; Audio </a></li>
          <li class="hint-list-item"><a href="#video-hint" data-toggle="tab" class="hint-title"><i class="fas fa-video"></i>&nbsp; Video </a></li>
        </ul>
      </div>
      <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="image-hint">
            <!-- Image for the Question -->
            {%if level.image.url != '/media/images/level1.jpg' %}
              <div class="jumbotron border-shadow"
                style="margin-top:15px;background-color:rgba(255, 255, 255, 0.4);text-align: center; display: flex; justify-content: center;">
                <img class="img-responsive hint-image" src="{{level.image.url}}"/>
              </div>
            {%endif%}
          </div>
          <div class="tab-pane fade" id="audio-hint">
            <!-- AUDIO HINT -->
            <div class="song-detail container-fluid">
            
              <div class="card mb-4" id="audio-card" style="box-shadow: -5px -5px 15px black; border-radius: 15px; margin: 0 auto;">
            
                <video id="background-video" src="https://pixabay.com/videos/download/video-37169_medium.mp4" loop></video>
            
                <div class="card-body">
                  <div class="audio-progress-bar">
                    <!-- <div id="completed"></div> -->
                    <input type="range" min="0" max="100" value="0" id="audio-progress">
                  </div>
                  <div class="audio-controls">
                    <!-- Play and pause button -->
                    <ion-icon id="audio-play-pause" name="play"></ion-icon>
                    
                    <span class="audio-volume-controls">
                      <ion-icon class="volume-icon" id="mute" name="volume-mute"></ion-icon>
                      <input id="audio-vol-control" type="range" min="0" max="100" step="1"></input>
                      <ion-icon class="volume-icon" id="max-volume" name="volume-high"></ion-icon>
                    </span>
                  </div>
                  <audio src="{{ level.audio.url }}" id="song"></audio>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="video-hint">
            <!-- Video Hint -->
            <div class="video-hint">
              <div class="card mb-4" id="video-card" style="box-shadow: -5px -5px 15px black; border-radius: 15px; margin: 0 auto;">
                <div class="video-container">
                  <video src="{{ level.video.url }}" id="video"></video>
                </div>
                <div class="card-body">
                  <div class="video-progress-bar">
                    <input type="range" id="video-progress" min="0" max="100">
                  </div>
                  <!-- Play and pause button -->
                  <div class="video-controls">
                    <ion-icon id="video-play-pause" name="play"></ion-icon>
                    <span class="video-volume-controls">
                      <ion-icon class="volume-icon" id="mute" name="volume-mute"></ion-icon>
                      <input id="video-vol-control" type="range" min="0" max="100" step="1"></input>
                      <ion-icon class="volume-icon" id="max-volume" name="volume-high"></ion-icon>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Example row of columns -->

	<!-- Jumbotron -->
	<!-- {%if level.image.url != '/media/images/level1.jpg' %}
	<div class="jumbotron border-shadow"
		style="margin-top:15px;background-color:rgba(255, 255, 255, 0.4);text-align: center; display: flex; justify-content: center;">
		<img class="img-responsive" src="{{level.image.url}}" style="max-width: 400px; width: 100%;" />
	</div>
  {%endif%} -->
  




	<!-- play audio -->



  <!-- {% if level.display_audio %}
        <div class="col-lg-12 padleft">
          {%if level.audio.url != '/media/audios/default.mp3' %}
          <div style="font-size: 20px;text-align: center;color: white;">
            <p>Audio Hint</p>
            <audio controls="" src="{{level.audio.url}}">
            </audio>
          </div>
        </div>
        <hr>
        {%endif%}
        <br>
      {% endif %} -->


  <!-- {% if level.display_video %}
        
        <div class="col-lg-12">
          <div style="font-size: 20px;text-align: center;color: white;">
            <p>Video Hint</p>
            <video width="320" height="240" controls>
              <source src="{{ level.video.url }}" type="video/mp4">
            </video>
          </div>
        </div>
      {% endif %}
         -->



  <div class="col-lg-12 rules border-shadow" style="padding:25px">
    {% block msgblock %}
    {% if messages %}
    {% for message in messages %}
    <div
      class="alert {% if message.tags %} alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}"
      {% endif %} role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endblock %}

    </br>
    <div class="lead" style="padding:10px; font-family: 'Montserrat', sans-serif;">
      Q. {{ level.text }}
    </div>
    {%ifnotequal level.hint "na"%}

    <div class="alert alert-success" role="alert">
      <strong style="color: black;">Hint:</strong>
      {{level.hint}}
    </div>
    {%endifnotequal%}
    </br>

    Enter your answer:
    <br>
    <form id="ans" method="post" action="/answer/">
      {% csrf_token %}
      <br> <input type="text" name="ans" class="form-control" value="" size="50" autofocus />
      <br />

      <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit Answer" />

    </form>

  </div>

</div>

<button class="toggle btn btn-success" style="margin-left:10px; border-radius: 20px;">SHOW STATUS</button>
<br>
<br>


<div id="target" style="display: none;">
  <div class="col-lg-12 padleft">
    <div class="sidebox border-shadow" style="padding:15px;">
      <p style="font-size:24px;text-align:center;opacity:0.8;">Number of people who crossed this level</p>
      <p style="text-align:center;font-size:35px;color:green">{{level.numuser}}</p>
      <p style="text-align:center;font-size:25px;color:#008080">Accuracy: {{level.accuracy}}</p>
    </div>
  </div>
</div>

</div>

{%endblock%}