{% extends 'base.html' %}

{%block content%}
<h1 class="text-center timer-header">Goes live on 8th February 2021 at 10.30pm</h1>
<p class="opentime" hidden>{{time}}</p>
<div class="container-t">
  <div class="row timer-row">
    <div class="col-xs-3 timer-col">
      <span class="label-data" id="days"></span>
      <span class="label">Days</span>
    </div>
    <div class="col-xs-3 timer-col">
      <span class="label-data" id="hours"></span>
      <span class="label">Hours</span>
    </div>
    <div class="col-xs-3 timer-col">
      <span class="label-data" id="minutes"></span>
      <span class="label label-long">Minutes</span>
    </div>
    <div class="col-xs-3 timer-col" id="time-active">
      <span class="label-data" id="seconds"></span>
      <span class="label label-long">Seconds</span>
    </div>
  </div>
</div>
{%endblock%}
