{% extends 'base.html' %}

{%block content%}
<div class="row d-flex justify-content-center">

  <!--Grid column-->

    <h1 style="text-align:center; color: #f5f5f5;" > Congratulations! You have found all the treasures</h1>
    <div style="width:200px; height:200px;margin:auto">
      <div class="text-center">
        <figure class="swing">
    <img style=" height: 300px; width: 300px;"src="/static/img/AIMLV11.png" class="responsive"alt="">
  </figure>
  </div>
</div>
  <!--Grid column-->

</div>

<!-- Example row of columns -->
<div class="row">
<div class=" col-md-6">

</div>
</div>
</div>

{%endblock%}
